@media (max-width:320px){
	body{
		font-size:8px;
	}
}

/* 
 * Basic Reset
 */
* {
    margin: 0; padding: 0; outline:none;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
img, fieldset { border: 0; }
img { max-width: 100%; vertical-align: middle; }
button { cursor: pointer; }
ul { list-style: none; }
a { text-decoration: none;}

a:hover {
    cursor: pointer;
}

/* 
 * typograph
 */
body, input, select, textarea, button {
    font-family: 'Helvetica', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', 'Arial', 'sans-serif';
}


.g-bg {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}

.g-doc {
    position: relative;
    overflow: hidden;
	background:url(../img/p0-bg.jpg);
}

.g-doc  .g-bd {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
	overflow:hidden;
}

.g-ct {
    position: relative;
    display: block;
    overflow: hidden;
}


.swiper-container {
  width:100%;
  height: 100%;
  position: absolute;
}

.g-doc .g-bd .swiper-container .swiper-slide .m-screen{
  position:absolute;
  width:100%;
  height:100%;
}

.g-doc .g-bd .swiper-container .swiper-slide .m-screen .g-ct{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
}

.g-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.m-screen .g-content {
  position: relative;
  width: 100%;
  height: 100%;
}



.logo{
	background:url(../img/logo.png) no-repeat;
	background-size: contain;
	position: absolute;
	width: 28.28125%;
	height: 0px;
	left:6.25%;
	padding-bottom:11.71875%;
	top:5.46875%;
}

.group:before, .group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.f-ad-phone{-webkit-animation-delay:0s;-moz-animation-delay:0s;animation-delay:.6s}
.f-ad0{-webkit-animation-delay:0s;-moz-animation-delay:0s;animation-delay:0s}
.f-ad1{-webkit-animation-delay:.2s;-moz-animation-delay:0.2s;animation-delay:.2s}
.f-ad2{-webkit-animation-delay:.4s;-moz-animation-delay:0.4s;animation-delay:.4s}
.f-ad3{-webkit-animation-delay:.6s;-moz-animation-delay:0.6s;animation-delay:.6s}
.f-ad4{-webkit-animation-delay:.8s;-moz-animation-delay:0.8s;animation-delay:.8s}
.f-ad5{-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s}
.f-ad6{-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;animation-delay:1.2s}
.f-ad7{-webkit-animation-delay:1.4s;-moz-animation-delay:1.4s;animation-delay:1.4s}
.f-ad8{-webkit-animation-delay:1.6s;-moz-animation-delay:1.6s;animation-delay:1.6s}
.f-ad9{-webkit-animation-delay:1.8s;-moz-animation-delay:1.8s;animation-delay:1.8s}
.f-ad10{-webkit-animation-delay:2s;-moz-animation-delay:2s;animation-delay:2s}
.f-ad11{-webkit-animation-delay:2.2s;-moz-animation-delay:2.2s;animation-delay:2.2s}
.f-ad12{-webkit-animation-delay:2.4s;-moz-animation-delay:2.4s;animation-delay:2.4s}
.f-ad13{-webkit-animation-delay:2.6s;-moz-animation-delay:2.6s;animation-delay:2.6s}
.f-ad14{-webkit-animation-delay:2.8s;-moz-animation-delay:2.8s;animation-delay:2.8s}
.f-ad15{-webkit-animation-delay:3s;-moz-animation-delay:3s;animation-delay:3s}
.f-ad16{-webkit-animation-delay:3.2s;-moz-animation-delay:3.2s;animation-delay:3.2s}
.f-ad17{-webkit-animation-delay:3.4s;-moz-animation-delay:3.4s;animation-delay:3.4s}
.f-ad18{-webkit-animation-delay:3.6s;-moz-animation-delay:3.6s;animation-delay:3.6s}
.f-ad19{-webkit-animation-delay:3.8s;-moz-animation-delay:3.8s;animation-delay:3.8s}
.f-ad20{-webkit-animation-delay:4s;-moz-animation-delay:4s;animation-delay:4s}
.f-ad21{-webkit-animation-delay:4.2s;-moz-animation-delay:4.2s;animation-delay:4.2s}
.f-ad22{-webkit-animation-delay:4.4s;-moz-animation-delay:4.4s;animation-delay:4.4s}
.f-ad23{-webkit-animation-delay:4.6s;-moz-animation-delay:4.6s;animation-delay:4.6s}
.f-ad24{-webkit-animation-delay:4.8s;-moz-animation-delay:4.8s;animation-delay:4.8s}
.f-anii{
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

.f-dn{
    display: none;
}

