
<%
var count = data.length>19?19:data.length;
for(var i = 0;i<count;i++)
{
%>


<div class="ranking num0">
  <span class="h1"><%=data[i].Ranking%></span>
  <div class="face">
    <img src="<%=data[i].Avatar%>" />
  </div>
  <div class="name"><%=data[i].NickName%></div>
  <span class="h2"><%=data[i].GameScore%></span>
  <div class="right-last"></div>
</div>
<div class="ranking-btm"></div>


<%
}
%>